name: tests
on:
  push:
    branches:
      - dev
      - master
  pull_request:
    branches:
      - dev
      - master
  schedule:
    - cron: "0 2 * * 1"
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

env:
  PLF_CONDA_DEPS: "rdkit cython"

jobs:
  run_tests:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
          os: [ubuntu-latest]
          python-version: [3.6, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2

    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        auto-update-conda: true
        channel-priority: flexible
        channels: conda-forge, defaults
        add-pip-as-python-dependency: true
        architecture: x64
        
    - name: Install conda dependencies
      env:
        PLF_CONDA_FULL_DEPS: "${{ env.PLF_CONDA_DEPS }}"
      run: |
        conda install ${PLF_CONDA_FULL_DEPS}

    - name: Install package through pip
      run: |
        python -m pip install .[tests]
    
    - name: Check setup
      run: |
        which python
        which pip
        pip list
        conda info
        conda list

    - name: Run tests
      run: |
        pytest --color=yes --disable-pytest-warnings --cov=prolif --cov-report=xml tests/

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: coverage.xml
        fail_ci_if_error: True
        verbose: True
