name: tests
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

concurrency:
  group: "${{ github.ref }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  build:
    name: Build
    # only run once if internal PR
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/_build-package.yml
    with:
      check-prerelease: ${{ github.event_name == 'workflow_dispatch' }}
      cache-package: true
      upload-package: true
      test-files: true
      test-imports: true

  unit-tests:
    name: Test ${{ matrix.label }}
    runs-on: ${{ matrix.os }}
    # only run once if internal PR
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      matrix:
        include:
          - label: earliest
            os: ubuntu-latest
            python-version: 3.9
            mamba-deps: "rdkit==2022.09.1"
            coverage: false
          - label: baseline
            os: ubuntu-latest
            python-version: "3.10"
            mamba-deps: "rdkit~=2023.03.1"
            coverage: true
          - label: latest
            os: ubuntu-latest
            python-version: "3.12"
            # remove numpy<2 when MDAnalysis 2.8.0 is released
            mamba-deps: "rdkit 'numpy<2'"
            coverage: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          auto-update-conda: true
          use-mamba: true
          miniforge-variant: Mambaforge

      - name: Check conda and pip
        run: |
          which python
          python --version
          pip --version
          conda --version
          mamba --version

      - name: Install conda dependencies
        run: |
          mamba install uv ${{ matrix.mamba-deps }}
          mamba list

      - name: Install package through pip
        run: |
          uv pip install .[dev]
          uv pip list

      - name: Run tests
        run: |
          pytest --color=yes --disable-pytest-warnings --cov=prolif --cov-report=xml tests/

      - name: Measure tests coverage
        if: matrix.coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
