name: tests
on:
  push:
    branches:
      - dev
      - master
  pull_request:
    branches:
      - dev
      - master
  schedule:
    - cron: "0 2 * * 1"
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  tests:
    name: Setup ${{ matrix.os }} on Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    # only run once if internal PR
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
        matrix:
          os: [ubuntu-18.04]
          python-version: [3.6, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2

    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        auto-update-conda: true
        channel-priority: flexible
        channels: conda-forge, defaults
        add-pip-as-python-dependency: true
        architecture: x64

    - name: Check conda and pip
      run: |
        which python
        python --version
        pip --version
        conda --version

    - name: Install conda dependencies
      run: |
        conda install mamba
        mamba install rdkit cython wheel
        conda list

    - name: Install package through pip
      run: |
        pip install .[tests]
        pip list

    - name: Run tests
      run: |
        pytest --color=yes --disable-pytest-warnings --cov=prolif --cov-report=xml tests/

    - name: Measure tests coverage
      uses: codecov/codecov-action@v1
      with:
        file: coverage.xml
        fail_ci_if_error: True
        verbose: True

    - name: Build
      run: |
        python setup.py sdist bdist_wheel
    
    - name: Remove previous ProLIF install
      run: |
        pip uninstall prolif

    - name: Install from tar.gz
      run: |
        pip install dist/prolif-*.tar.gz
    
    - name: Test tar.gz install
      run: |
        python <<EOF
        import prolif
        import os
        print(prolif.__version__)
        assert os.path.isfile(prolif.datafiles.TOP)
        EOF

    - name: Remove previous ProLIF install
      run: |
        pip uninstall prolif

    - name: Install from wheel
      run: |
        pip install dist/prolif-*.whl
    
    - name: Test wheel install
      run: |
        python <<EOF
        import prolif
        import os
        print(prolif.__version__)
        assert os.path.isfile(prolif.datafiles.TOP)
        EOF